.banner{
    display: flex;
    flex-wrap: wrap;
    min-height: calc(100vh - 64px);
    background: #555;
    color: #fff;
}
@media (width < 540px) {
    .banner{
        margin-top: 64px;
    }
}
.banner_text{
    display: flex;
    flex-direction: column;
}
.banner_text > *{
    margin-bottom: 10px;
    font-size: 20px;
}
.banner > .heading{
    font-size: 72px;
	font-weight: 500;
	letter-spacing: -2.88px;
	line-height: 75px;
	margin:0 auto 40px;
    width: 50%;
    text-align: center;
}
.banner_text i{
    width: 40px;
    text-align: center;
    color: var(--theme-color);
}