.hero_section{
    min-height: calc(100vh - 64px);
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    background-image: linear-gradient(0deg, #6363637c 0%, #6363637c 100%),
		url(../image/home_banner.jpg);
	background-size: cover;
	background-position: center;
}
@media (width < 540px) {
    .hero_section{
        margin-top: 64px;
    }
}
.header_form{
    width: 90%;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    background: #00afef21;
    border: 2px solid #00afef75;
    border-radius: 5px;
    backdrop-filter: blur(5px);
}
.steps{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 25px;
}
.steps> div{
    display: flex;
    flex-direction: column;
    padding: 10px 25px;
    align-items: center;
}
.steps > div > .step_img{
    width: 76px;
    aspect-ratio: 1;
    background: var(--theme-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}
.steps > div > .step_img > img{
    height: auto;
    width: 50px;
}
.steps > div > h3{
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.steps > div > .step_desc{
    text-align: center;
    color: #79787F;
}
.article_first_letter{
    text-align: justify;
    color: #000000;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0.25px;
    line-height: 25px;
}
.article_first_letter::first-letter{
    font-size: 60px;
    line-height: 60px;
    initial-letter: 2;
    padding-right: 10px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
    color: var(--theme-color);
}
.services{
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}
.services > *{
    padding: 15px;
}
.service_card{
    padding: 25px 50px;
    background: #f0ffff;
    border-radius: 5px;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.service_card > img{
    padding-bottom: 25px;
    width: 75%;
    height: auto;
    object-position: center;
    object-fit: contain;
}
.service_desc{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.service_desc > h4{
    text-align: center;
    width: 100%;
    color: var(--theme-color);
    border-bottom: 1px solid #adadad;
    text-transform: uppercase;
    font-weight: 500;
}
.service_desc > p{
    text-align: justify;
    line-height: 20px;
    margin: 15px auto;
    letter-spacing: 1px;
}
@media (width < 768px) {
    .service_card{
        padding: 10px 20px;
    }
    .service_img, .service_desc{
        width: 100%;
    }
    .service_desc > p{
        font-size: 14px;
        line-height: 16px
    }
}
.faq_card{
    margin: 25px auto;
    border-radius: 5px;
    border: 1px solid #f0ffff;
}
.questions{
    background: #f0ffff;
    padding: 5px 15px;
    font-weight: 600;
    position: relative;
    cursor: pointer;
}
.questions::after{
    position: absolute;
    right: 40px;
    top: 35%;
    content: '';
    width: 10px;
    height: 10px;
    text-align: center;
    border: none;
    border-top: 2px solid #333;  
    border-right: 2px solid #333; 
    transform: rotateZ(135deg);
    transition: transform 250ms;
}
.open.questions::after{
    transform: rotateZ(315deg);
  }
.ans{
    height: 0px;
    overflow: hidden;
    background: #eeeeee75;
    transition: height 250ms ease;
}
.ans.open{
    padding: 10px;
}
.location_link{
    padding: 10px 15px;
    color: #515151;
}
.location_link:hover > a{
    color: var(--theme-color);
}