.body{
	position: relative;
}
.pop_up_form{
	display: none;
}
.pop_up_form.show{
	position: fixed;
	inset: 0;
	background: #00000050;
	backdrop-filter: blur(5px);
	z-index: 999;
	display: flex;
	justify-content: center;
	align-items: center;
}
.pop_up_form > form{
	position: relative;
	padding: 15px 30px;
	background: #fff;
	border: 2px solid var(--theme-color);
	border-radius: 10px;
	width: clamp(300px, 95%, 400px);
	display: flex;
	flex-direction: column;
	align-items: center;
}
.pop_up_form > form > button{
	position: absolute;
	right: 5px;
	top: 5px;
	font-weight: 700;
	padding: 4px 11px;
	text-align: center;
	border-radius: 50%;
	color: var(--theme-color);
	border: none;
	outline: none;
	font-size: 20px;
}
.pop_up_form > form > div{
	margin: 5px auto;
	width: 100%;
}
.pop_up_form > form > div > label{
	font-weight: 600;
	color: #00000090;
	display: block;
	width: 100%;
}
.banner {
	width: 100%;
	min-height: calc(100vh - 64px);
	margin-bottom: 60px;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-image: url(../image/mumbai.png);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.text-container {
	width: 75%;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}
.text-container > h1 {
	font-size: 72px;
	font-weight: 500;
	letter-spacing: -2.88px;
	line-height: 75px;
	margin-bottom: 20px;
}
.text-container > p {
	font-size: 20px;
	font-weight: 700;
	line-height: 28px;
	letter-spacing: -0.2px;
	color: #363637d4;
}
.banner > .btn_container {
	display: flex;
	justify-content: center;
}
.get_quote_btn{
	display: flex;
    align-items: center;
    justify-content: center;
    width: 249px;
    height: 52px;
    border: none;
    color: #ffffff;
    background: #0D9298;
    border-radius: 8px;
	font-size: 18px;
	margin: 40px auto 8px;
}
.fs-small {
	font-size: 10px;
}
.video_container,
.play-btn-container {
	display: flex;
	justify-content: center;
	align-items: center;
}
.video_container {
	margin: 0px auto 25px;
	width: 75%;
	border: 1px solid #ccc;
}
.play-btn-container {
	background: var(--theme-color);
	margin: 5% auto;
	width: 75%;
	aspect-ratio: 16/9;
	border-radius: 10px;
	cursor: pointer;
}
.play-btn {
	filter: drop-shadow(0 0 8px #0000007c);
	transition: all 300ms ease-in-out;
}
.play-btn-container:hover > .play-btn {
	transform: scale(1.25);
	filter: drop-shadow(0 16px 8px #00000038);
}
@media (width < 768px) {
	.banner {
		margin-bottom: 0px;
		height: auto;
	}
	.text-container > p {
		font-size: 20px;
		width: 75%;
	}
	.get_quote_btn{
		font-size: 14px;
		margin: 24px auto 8px;
		width: 231px;
		height: 40px;
	}
	.video_container {
		width: 100%;
		border: none;
	}
	.play-btn-container {
		width: 100%;
	}
}
@media (width < 480px) {
	.banner {
		margin-top: 65px;
		min-height: 50vh;
	}
	.text-container{
		width: 100%;
	}
	.text-container > h1 {
		font-size: 30px;
		letter-spacing: 0.25px;
		line-height: 34px;
	}
	.text-container > p {
		font-size: 14px;
        line-height: 20px;
		width: 100%;
	}
}
.steps {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	margin-top: 25px;
}
.steps > div {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.steps > div > .step_img {
	width: 76px;
	aspect-ratio: 1;
	background: var(--theme-color);
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 15px;
}
.steps > div > .step_img > img {
	height: auto;
	width: 50px;
}
.steps > div > h3 {
	font-size: 18px;
	text-transform: uppercase;
	margin-bottom: 10px;
}
.steps > div > .step_desc {
	text-align: center;
	color: #585858;
	font-weight: 500;
	padding: 5px 7px;
}
.review {
	background-image: linear-gradient(0deg, #0D9298d4 0%, #0D9298d4 100%),
		url(../image/car_relocation.jpg);
	background-size: cover;
	background-position: center;
	position: relative;
}
.review > button {
	position: absolute;
	top: 50%;
	background: #777;
	width: 40px;
	aspect-ratio: 1;
	border-radius: 50%;
	border: none;
}
.review > .prev {
	left: 25px;
}
.review > .next {
	right: 25px;
}
.review_container {
	position: relative;
	min-height: 300px;
	overflow-x: hidden;
	margin: 0 auto;
}
.reviews {
	position: absolute;
	display: flex;
	transition: all 500ms cubic-bezier(0, 0, 0, 1);
}
.review_card{
	padding: 10px 15px;
}
.review_img {
	background: #fff;
	color: var(--theme-color);
	border-radius: 50%;
	font-size: 25px;
	font-weight: 800;
	width: 40px;
	aspect-ratio: 1;
	display: flex;
	align-items: center;
	justify-content: center;
}
.review_txt {
	font-size: 18px;
	color: #ffffff;
	font-family: "Titillium Web", sans-serif;
}
@media (width < 480px) {
	.review > button {
		width: 30px;
	}
	.review > .prev {
		left: 10px;
	}
	.review > .next {
		right: 10px;
	}
	.review_txt {
		font-size: 14px;
	}
}
.location {
	font-size: 14px;
	color: #515151;
	font-weight: 600;
	padding: 5px 0px 5px 15px;
	position: relative;
}
.location::after{
	content: "";
	position: absolute;
	bottom: 0;
	left: 5%;
	right: 5%;
	border-bottom: 2px solid #5553;
}
.location:not(:first-child){
	margin-top: 5px;
}
.location:hover {
	color: var(--theme-color);
}
.faq > h2 {
	margin-bottom: 0px;
}
.faq_card {
	margin: 15px auto;
	border-radius: 5px;
	box-shadow: 0px 0px 4px #00000027;
}
.questions {
	background: #fff;
	color: #000;
	padding: 20px;
	font-weight: 600;
	position: relative;
	cursor: pointer;
}
.questions > p{
	padding: 0px 30px;
}
.questions:hover{
	color: var(--theme-color);
	text-decoration: underline;
}
.questions::before{
	position: absolute;
	top: 20px;
	left: 20px;
	background: var(--theme-color);
	color: #fff;
	width: 22px;
	text-align: center;
	border-radius: 50%;
	content: '\003f';
}
.questions::after {
	position: absolute;
	right: 25px;
	top: 35%;
	content: "";
	width: 10px;
	height: 10px;
	text-align: center;
	border: none;
	border-top: 2px solid #000;
	border-right: 2px solid #000;
	transform: rotateZ(135deg);
	transition: transform 250ms;
}
.questions:hover::after{
	border-color: var(--theme-color);
}
.open.questions::after {
	transform: rotateZ(315deg);
}
.ans {
	background: #fff;
	height: 0px;
	color: #212529;
	font-size: 16px;
	font-weight: 400;
	overflow: hidden;
	transition: height 250ms ease;
	padding: 0px 20px;
}
@media (width < 768px) {
	.ans{
		font-size: 14px;
	}
}
.blog_card {
	display: inline-block;
	position: relative;
	border-radius: 5px;
}
.blog_thumbnail > img {
	width: 100%;
	aspect-ratio: 1.91/1;
}
.blog_heading {
	color: #3a3a3a;
	font-size: 18px;
	font-style: normal;
	font-weight: 700;
	height: auto;
	line-height: 27px;
	margin: 1rem 0;
}
.author_info{
	color: #4f6173; 
	font-size: 14px; 
	padding-left: 1rem;
}
@media (width < 768px) {
	.blog_heading{
		font-size: 14px;
		line-height: 20px;
	}
	.author_info{
		font-size: 12px;
	}
}
.author_info > span{
	display: inline-flex;	
	margin-right: 1.5rem;
}
.author_info > span > svg{
	margin-right: 5px;
}